In [76]:
# Importing libraries:

%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
#importing clean dataset
diamonds = pd.read_csv('./clean_diamonds.csv')
diamonds = pd.DataFrame(diamonds)

In [78]:
#first check of dataset
print(diamonds.shape)
display(diamonds.head())

(40455, 9)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,carat_bin
0,0,3.081321,3.0,0.571429,0.727273,0.106170,-0.205764,12831,1.0
1,1,3.439708,1.8,0.428571,0.727273,1.013798,-0.205764,16170,1.0
2,2,0.003405,2.4,0.714286,0.727273,-0.522188,-0.205764,2797,0.6
3,3,-0.839859,3.0,0.714286,0.545455,1.083616,1.138849,630,0.4
4,4,-1.029593,3.0,0.571429,1.090909,-0.103283,-1.102173,698,0.2

In [79]:
diamonds.drop(['Unnamed: 0'], axis=1, inplace=True)
display(diamonds)

          carat  cut     color   clarity     depth     table  price  carat_bin
0      3.081321  3.0  0.571429  0.727273  0.106170 -0.205764  12831        1.0
1      3.439708  1.8  0.428571  0.727273  1.013798 -0.205764  16170        1.0
2      0.003405  2.4  0.714286  0.727273 -0.522188 -0.205764   2797        0.6
3     -0.839859  3.0  0.714286  0.545455  1.083616  1.138849    630        0.4
4     -1.029593  3.0  0.571429  1.090909 -0.103283 -1.102173    698        0.2
...         ...  ...       ...       ...       ...       ...    ...        ...
40450  0.656935  2.4  0.428571  0.909091  0.734528  1.587054   5315        0.8
40451 -0.144166  3.0  0.714286  1.090909  0.594893 -0.653969   2762        0.6
40452  0.973160  1.8  0.285714  1.272727 -1.778904  1.138849   6855        1.0
40453 -0.165247  3.0  0.571429  0.727273 -0.242918 -0.653969   2297        0.6
40454 -0.544716  2.4  0.571429  0.909091 -0.661823  0.690645   1356        0.6

[40455 rows x 8 columns]

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix, accuracy_score

In [81]:
columns = ['carat','cut','color','clarity','depth','table']
X = diamonds[columns]
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X.shape,y.shape)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
display(X.head())
display(y.head())

(40455, 6) (40455,)
(32364, 6) (8091, 6) (32364,) (8091,)

      carat  cut     color   clarity     depth     table
0  3.081321  3.0  0.571429  0.727273  0.106170 -0.205764
1  3.439708  1.8  0.428571  0.727273  1.013798 -0.205764
2  0.003405  2.4  0.714286  0.727273 -0.522188 -0.205764
3 -0.839859  3.0  0.714286  0.545455  1.083616  1.138849
4 -1.029593  3.0  0.571429  1.090909 -0.103283 -1.102173

0    12831
1    16170
2     2797
3      630
4      698
Name: price, dtype: int64

In [82]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_classification

In [83]:
clf = RandomForestRegressor()

In [84]:
clf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [85]:
y_predr = clf.predict(X_test)

In [86]:
r2_score(y_test, y_predr)

0.9803782606825128

In [87]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_predr)

309503.411294082

In [88]:
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, y_predr))
rmse

556.330307725619

In [89]:
dfm1 = pd.DataFrame()
dfm1["y_test"]=y_test
dfm1["y_predr"]=y_predr
dfm1["diff"]=y_test-y_predr

display(dfm1.head(5))

       y_test       y_predr        diff
2267      638    711.300667  -73.300667
6048     2199   2323.279167 -124.279167
18791     500    548.900000  -48.900000
13284    2256   2344.510000  -88.510000
9621    13333  13885.836667 -552.836667

In [90]:
##testing
#importing dataset
test1 = pd.read_csv('./test1.csv')
test1 = pd.DataFrame(test1)

In [91]:
display(test1.head())

   id        price
0   0  1306.090000
1   1  6511.020000
2   2  1665.760238
3   3  3881.833333
4   4  1663.765000

In [92]:
test1.drop(['Unnamed: 0','id','carat_bin'], axis=1, inplace=True)
display(test1.head())

KeyError: "['Unnamed: 0' 'carat_bin'] not found in axis"

In [69]:
y_test1=clf.predict(test1)

In [72]:
pred_test1 = pd.DataFrame({
    'id': test1.index,
    'price': y_test1
})

In [73]:
display(pred_test1.head())

   id        price
0   0  1306.090000
1   1  6511.020000
2   2  1665.760238
3   3  3881.833333
4   4  1663.765000

In [75]:
#printing test predictions
pred_test1.to_csv('pred_test1.csv', index=False)