In [15]:
# Importing libraries:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
#importing dataset
test1 = pd.read_csv('./test.csv')
test1 = pd.DataFrame(test1)

In [17]:
#first check of dataset
print(test1.shape)
display(test1.head())

(13485, 10)

   id  carat      cut color clarity  depth  table     x     y     z
0   0   0.56    Ideal     I     VS2   62.1   54.0  5.30  5.33  3.30
1   1   1.05    Ideal     G     VS2   61.9   56.0  6.56  6.52  4.05
2   2   0.50  Premium     E     VS2   61.5   56.0  5.11  5.07  3.13
3   3   0.80    Ideal     F     VS1   62.8   56.0  5.91  5.96  3.73
4   4   0.54    Ideal     G     VS1   61.4   57.0  5.23  5.20  3.20

In [18]:
##parameters
#quant
quant=24
#cut
n1=3.5
#color
n2=1.9
#clarity
n3=2.7

In [19]:
##Binning price column to look at data distribution of categorical columns
labels=[float((i+1)/quant)for i in range(quant)]
test1['carat_bin']=pd.qcut(test1['carat'],quant,labels=labels)
display(test1)
print(test1.dtypes)

,id,carat,cut,color,clarity,depth,table,x,y,z,carat_bin
0,0,0.56,Ideal,I,VS2,62.1,54.0,5.30,5.33,3.30,0.458333
1,1,1.05,Ideal,G,VS2,61.9,56.0,6.56,6.52,4.05,0.791667
2,2,0.50,Premium,E,VS2,61.5,56.0,5.11,5.07,3.13,0.333333
3,3,0.80,Ideal,F,VS1,62.8,56.0,5.91,5.96,3.73,0.583333
4,4,0.54,Ideal,G,VS1,61.4,57.0,5.23,5.20,3.20,0.416667
...,...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.70,Premium,H,SI1,59.0,60.0,5.86,5.81,3.44,0.500000
13481,13481,0.55,Ideal,G,VVS2,62.3,53.0,5.27,5.29,3.29,0.416667
13482,13482,1.54,Ideal,G,SI1,61.5,55.0,7.40,7.45,4.57,0.958333
13483,13483,0.30,Premium,G,SI2,62.7,55.0,4.29,4.26,2.68,0.041667
13484,13484,0.42,Ideal,E,VVS2,61.3,56.0,4.85,4.81,2.96,0.291667

id              int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
x             float64
y             float64
z             float64
carat_bin    category
dtype: object

In [20]:
test1['carat_bin'] = test1['carat_bin'].astype('float')
print(test1.dtypes)

id             int64
carat        float64
cut           object
color         object
clarity       object
depth        float64
table        float64
x            float64
y            float64
z            float64
carat_bin    float64
dtype: object

In [21]:
test1.drop(['x', 'y', 'z'], axis=1, inplace=True)
display(test1)

          id  carat      cut color clarity  depth  table  carat_bin
0          0   0.56    Ideal     I     VS2   62.1   54.0   0.458333
1          1   1.05    Ideal     G     VS2   61.9   56.0   0.791667
2          2   0.50  Premium     E     VS2   61.5   56.0   0.333333
3          3   0.80    Ideal     F     VS1   62.8   56.0   0.583333
4          4   0.54    Ideal     G     VS1   61.4   57.0   0.416667
...      ...    ...      ...   ...     ...    ...    ...        ...
13480  13480   0.70  Premium     H     SI1   59.0   60.0   0.500000
13481  13481   0.55    Ideal     G    VVS2   62.3   53.0   0.416667
13482  13482   1.54    Ideal     G     SI1   61.5   55.0   0.958333
13483  13483   0.30  Premium     G     SI2   62.7   55.0   0.041667
13484  13484   0.42    Ideal     E    VVS2   61.3   56.0   0.291667

[13485 rows x 8 columns]

In [22]:
#normalizing
columns = ['carat','depth', 'table']
for col in columns:
    test1[col] = (test1[col] - np.mean(test1[col])) / np.std(test1[col]) 
test1.head()

   id     carat      cut color clarity     depth     table  carat_bin
0   0 -0.500241    Ideal     I     VS2  0.241489 -1.537773   0.458333
1   1  0.535739    Ideal     G     VS2  0.101972 -0.646693   0.791667
2   2 -0.627096  Premium     E     VS2 -0.177064 -0.646693   0.333333
3   3  0.007178    Ideal     F     VS1  0.729801 -0.646693   0.583333
4   4 -0.542526    Ideal     G     VS1 -0.246823 -0.201152   0.416667

In [23]:
#converting categorical columns into numerical after consulting relathionship between these variables and prices
def cut_f(df,n1):
    dict_cut={"Ideal":5/5*n1,"Premium":4/5*n1,"Very Good":3/5*n1,"Good":2/5*n1,"Fair":1/5*n1}
    return df.replace({"cut": dict_cut})

##diamonds["cut2"]=cut_f(diamonds,n1)
##diamonds["cut2"]= diamonds.cut2.apply(pd.to_numeric, errors = 'coerce')

test1=cut_f(test1,n1)
display(test1.head())

   id     carat  cut color clarity     depth     table  carat_bin
0   0 -0.500241  3.5     I     VS2  0.241489 -1.537773   0.458333
1   1  0.535739  3.5     G     VS2  0.101972 -0.646693   0.791667
2   2 -0.627096  2.8     E     VS2 -0.177064 -0.646693   0.333333
3   3  0.007178  3.5     F     VS1  0.729801 -0.646693   0.583333
4   4 -0.542526  3.5     G     VS1 -0.246823 -0.201152   0.416667

In [24]:
#converting categorical columns into numerical after consulting relathionship between these variables and prices
def color_f(df,n2):
    dict_color={"D":7/7*n2,"E":6/7*n2,"F":5/7*n2,"G":4/7*n2,"H":3/7*n2,"I":2/7*n2,"J":1/7*n2}
    return df.replace({"color":dict_color})

test1=color_f(test1,n2)
display(test1.head())

   id     carat  cut     color clarity     depth     table  carat_bin
0   0 -0.500241  3.5  0.542857     VS2  0.241489 -1.537773   0.458333
1   1  0.535739  3.5  1.085714     VS2  0.101972 -0.646693   0.791667
2   2 -0.627096  2.8  1.628571     VS2 -0.177064 -0.646693   0.333333
3   3  0.007178  3.5  1.357143     VS1  0.729801 -0.646693   0.583333
4   4 -0.542526  3.5  1.085714     VS1 -0.246823 -0.201152   0.416667

In [25]:
#converting categorical columns into numerical after consulting relathionship between these variables and prices
def clarity_f(df,n3):
    dict_clarity={"FL":11/11*n3,"IF":10/11*n3,"VVS1":9/11*n3,"VVS2":8/11*n3,"VS1":7/11*n3,"VS2":6/11*n3,"SI1":5/11*n3,"SI2":4/11*n3,"I1":3/11*n3,"I2":2/11*n3,"I3":1/11*n3}
    return df.replace({"clarity": dict_clarity})

##diamonds["clarity2"]=clarity_f(diamonds,n3)
##diamonds["clarity2"]= diamonds.clarity2.apply(pd.to_numeric, errors = 'coerce')

test1=clarity_f(test1,n3)
display(test1.head())

   id     carat  cut     color  clarity     depth     table  carat_bin
0   0 -0.500241  3.5  0.542857  1.47273  0.241489 -1.537773   0.458333
1   1  0.535739  3.5  1.085714  1.47273  0.101972 -0.646693   0.791667
2   2 -0.627096  2.8  1.628571  1.47273 -0.177064 -0.646693   0.333333
3   3  0.007178  3.5  1.357143  1.71818  0.729801 -0.646693   0.583333
4   4 -0.542526  3.5  1.085714  1.71818 -0.246823 -0.201152   0.416667

In [26]:
test1=pd.DataFrame(test1)

In [27]:
test1["clarity"]= test1.clarity.apply(pd.to_numeric)

In [28]:
##saving clean data
test1.to_csv('./test12.csv')