In [1]:
# Importing libraries:

%matplotlib inline

import numpy as np
import pandas as pd

In [3]:
#importing dataset
diamonds = pd.read_csv('./data.csv')

In [7]:
#first check of dataset
print(diamonds.shape)
display(diamonds.head())

(40455, 10)

   carat        cut color clarity  depth  table     x     y     z  price
0   2.26      Ideal     G     SI2   61.9   57.0  8.44  8.36  5.20  12831
1   2.43  Very Good     H     SI2   63.2   57.0  8.56  8.50  5.39  16170
2   0.80    Premium     F     SI2   61.0   57.0  6.03  6.01  3.67   2797
3   0.40      Ideal     F      I1   63.3   60.0  4.68  4.64  2.95    630
4   0.31      Ideal     G     VS2   61.6   55.0  4.39  4.37  2.70    698

In [9]:
#data types
print(diamonds.dtypes)
## cut color and clarity need to be transformed from

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object