In [37]:
# Importing libraries:

%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
#importing clean dataset
diamonds = pd.read_csv('./clean_diamonds.csv')
diamonds = pd.DataFrame(diamonds)

In [39]:
#first check of dataset
print(diamonds.shape)
display(diamonds.head())

(40455, 9)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,carat_bin
0,0,3.081321,3.0,0.571429,0.727273,0.106170,-0.205764,12831,5
1,1,3.439708,1.8,0.428571,0.727273,1.013798,-0.205764,16170,5
2,2,0.003405,2.4,0.714286,0.727273,-0.522188,-0.205764,2797,3
3,3,-0.839859,3.0,0.714286,0.545455,1.083616,1.138849,630,2
4,4,-1.029593,3.0,0.571429,1.090909,-0.103283,-1.102173,698,1

In [40]:
diamonds.drop(['Unnamed: 0'], axis=1, inplace=True)
display(diamonds)

          carat  cut     color   clarity     depth     table  price  carat_bin
0      3.081321  3.0  0.571429  0.727273  0.106170 -0.205764  12831          5
1      3.439708  1.8  0.428571  0.727273  1.013798 -0.205764  16170          5
2      0.003405  2.4  0.714286  0.727273 -0.522188 -0.205764   2797          3
3     -0.839859  3.0  0.714286  0.545455  1.083616  1.138849    630          2
4     -1.029593  3.0  0.571429  1.090909 -0.103283 -1.102173    698          1
...         ...  ...       ...       ...       ...       ...    ...        ...
40450  0.656935  2.4  0.428571  0.909091  0.734528  1.587054   5315          4
40451 -0.144166  3.0  0.714286  1.090909  0.594893 -0.653969   2762          3
40452  0.973160  1.8  0.285714  1.272727 -1.778904  1.138849   6855          5
40453 -0.165247  3.0  0.571429  0.727273 -0.242918 -0.653969   2297          3
40454 -0.544716  2.4  0.571429  0.909091 -0.661823  0.690645   1356          3

[40455 rows x 8 columns]

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix, accuracy_score

In [42]:
columns = ['carat','cut','color','clarity','depth','table']
X = diamonds[columns]
y = diamonds['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print(X.shape,y.shape)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
display(X.head())
display(y.head())

(40455, 6) (40455,)
(32364, 6) (8091, 6) (32364,) (8091,)

      carat  cut     color   clarity     depth     table
0  3.081321  3.0  0.571429  0.727273  0.106170 -0.205764
1  3.439708  1.8  0.428571  0.727273  1.013798 -0.205764
2  0.003405  2.4  0.714286  0.727273 -0.522188 -0.205764
3 -0.839859  3.0  0.714286  0.545455  1.083616  1.138849
4 -1.029593  3.0  0.571429  1.090909 -0.103283 -1.102173

0    12831
1    16170
2     2797
3      630
4      698
Name: price, dtype: int64

In [43]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_classification

In [44]:
clf = RandomForestRegressor()

In [45]:
clf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [46]:
y_predr = clf.predict(X_test)

In [47]:
r2_score(y_test, y_predr)

0.9823674072852789

In [48]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_predr)

276179.97858210193

In [50]:
from math import sqrt
rmse = sqrt(mean_squared_error(y_test, y_predr))
rmse

525.5282852350593

In [49]:
dfm1 = pd.DataFrame()
dfm1["y_test"]=y_test
dfm1["y_predr"]=y_predr
dfm1["diff"]=y_test-y_predr

display(dfm1.head(30))

       y_test       y_predr         diff
29173     689    675.842500    13.157500
31031    5888   6074.856667  -186.856667
25023    1348   1451.623333  -103.623333
37543   11988  13869.560000 -1881.560000
23892    4045   3957.990000    87.010000
16095    2776   2911.900000  -135.900000
33709   11212  10884.572667   327.427333
11620     999    938.986667    60.013333
22655   14581  14072.316167   508.683833
20495     676    720.930000   -44.930000
21716     716    736.531167   -20.531167
8286      755    740.940000    14.060000
11231    6534   6823.603333  -289.603333
5482    17118  16467.250000   650.750000
20406   15615  15525.340000    89.660000
21061    1200   1277.536000   -77.536000
15925    4213   3816.616667   396.383333
22500    5259   5544.564000  -285.564000
37160    1114    930.351000   183.649000
22934    1615   1748.520000  -133.520000
37457   10847   9901.523333   945.476667
8126      625    764.288000  -139.288000
7943     4062   3874.070000   187.930000
2465     6095   7344.680000 -1249.680000
34553    6458   7610.115000 -1152.115000
4068     3276   3100.560000   175.440000
16024     802    629.885500   172.114500
18587     992    892.326667    99.673333
30793     630    621.055667     8.944333
8781      945    898.708500    46.291500