In [2]:
# Importing libraries:

%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#importing clean dataset
diamonds = pd.read_csv('./clean_diamonds.csv')
diamonds = pd.DataFrame(diamonds)

In [4]:
#first check of dataset
print(diamonds.shape)
display(diamonds.head())

(40455, 9)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,carat_bin
0,0,3.081321,1.0,0.571429,0.363636,0.106170,-0.205764,12831,5
1,1,3.439708,0.6,0.428571,0.363636,1.013798,-0.205764,16170,5
2,2,0.003405,0.8,0.714286,0.363636,-0.522188,-0.205764,2797,3
3,3,-0.839859,1.0,0.714286,0.272727,1.083616,1.138849,630,2
4,4,-1.029593,1.0,0.571429,0.545455,-0.103283,-1.102173,698,1

In [5]:
diamonds.drop(['Unnamed: 0'], axis=1, inplace=True)
display(diamonds)

          carat  cut     color   clarity     depth     table  price  carat_bin
0      3.081321  1.0  0.571429  0.363636  0.106170 -0.205764  12831          5
1      3.439708  0.6  0.428571  0.363636  1.013798 -0.205764  16170          5
2      0.003405  0.8  0.714286  0.363636 -0.522188 -0.205764   2797          3
3     -0.839859  1.0  0.714286  0.272727  1.083616  1.138849    630          2
4     -1.029593  1.0  0.571429  0.545455 -0.103283 -1.102173    698          1
...         ...  ...       ...       ...       ...       ...    ...        ...
40450  0.656935  0.8  0.428571  0.454545  0.734528  1.587054   5315          4
40451 -0.144166  1.0  0.714286  0.545455  0.594893 -0.653969   2762          3
40452  0.973160  0.6  0.285714  0.636364 -1.778904  1.138849   6855          5
40453 -0.165247  1.0  0.571429  0.363636 -0.242918 -0.653969   2297          3
40454 -0.544716  0.8  0.571429  0.454545 -0.661823  0.690645   1356          3

[40455 rows x 8 columns]